<script src="/js/game.js"></script>
<div class="container">
<% player1 = @game.players.first %>
<% player2 = @game.players.last %>    
<h1>JavaScript Racer 2</h1>
  <p><span><%= player1.username %></span> hit the 'P' key.</p>
  <p><span><%= player2.username %></span>hit the 'Q' key.</p>

  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
    <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <span id="winner"></span>
</div>