<div class="container">
  <h1>Welcome to JavaScript Racer 2!</h1>
  <div class="content">
    <div class="signup">
      <form name="sign_up" action="#" method="post">
        <fieldset>
          <input type="text" name="newgame[player1]" value="Player 1 Username"/>
          <input type="text" name="newgame[player2]" value="Player 2 Username"/>
          <button type="submit">Start</button>
        </fieldset>
      </form>
    </div>
</div>
